.bg-myColor {
  background-color: #6900d1;
}
.img2 {
  width: 200px;
}
.navStyle {
  margin: 0px 10px 0 0 !important;
  padding: 8px !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 17px !important;
  border-bottom: 2px solid transparent;
}
.navStyle:hover {
  border-bottom: 2px solid #fff;
}
