ul{
  list-style: none;
}
.questions{
  margin-left: 5%;
  font-size: 1.2rem;
}
.ptag{
  margin-top: 6rem !important;
}

.questions-headings{
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.question-links{
  font-family: 'Poppins' sans-serif;
  color: inherit;
  text-decoration: none;
}